
.orderHeading{
  padding: 11px;
  font-size: 30px;
  background: #f2f0f0;
  
}

.item {
font-weight: 600 ; 
font-size: 22px ; 
}

.modifier {
  font-weight: 400 ; 
font-size: 19px ; 
}

.modifierItem{
  font-weight: 400 ; 
font-size: 16px ; 
padding: 7px;
}

.card {
  height: 400px;
  overflow: scroll;
}

