<div class="float-right close ">
  <i class="fa fa-times-circle" (click)="close()" aria-hidden="true"></i>
</div>
<div class="container-fluid mb-2 p-3">
  <h4>Modifier for {{ data.Name }}</h4>
</div>

<div *ngIf = 'data.Modifiers?.Deals'>
  <div class="container-fluid" >
   
    <mat-expansion-panel
      class="mt-1"
      [expanded]="false"
    
      *ngFor = 'let data of data.Modifiers.Deals '
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
        <h4>  {{data.category}} </h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container" *ngIf = 'data.Meat'>

      <mat-toolbar >Meat</mat-toolbar>

      <mat-selection-list
        #meatItem
        (selectionChange)="onSelection($event, meatItem.selectedOptions)"
      >
        <mat-list-option
          [checkboxPosition]="before"
          [selected]="meat.Default"
          *ngFor="let meat of data.Meat; let i = index"
          [value]="meat"
        >
          <span>
            <span class="float-left">
              <img matListAvatar [src]="meat.Image" *ngIf="meat.Image" />
              {{ meat.Item }}
            </span>
            <span class="float-right mt-2">
              {{ meat.Price | currency: "USD":true }}
            </span>
            <mat-divider></mat-divider>
          </span>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="container" *ngIf = 'data.Toppings'>

      <mat-toolbar >Topping</mat-toolbar>

      <mat-selection-list
        #meatItem
        (selectionChange)="onSelection($event, meatItem.selectedOptions)"
      >
        <mat-list-option
          [checkboxPosition]="before"
          [selected]="topping.Default"
          *ngFor="let topping of data.Toppings; let i = index"
          [value]="topping"
        >
          <span>
            <span class="float-left">
              <img matListAvatar [src]="topping.Image" *ngIf="topping.Image" />
              {{ topping.Item }}
            </span>
            <span class="float-right mt-2">
              {{ topping.Price | currency: "USD":true }}
            </span>
            <mat-divider></mat-divider>
          </span>
        </mat-list-option>
      </mat-selection-list>
    </div>
    </mat-expansion-panel>
  </div>
  <div class="card card-body mt-3 ">
    <span>
      <span class="float-left">
        <p style="font-size: 30px;">Total Amount :</p>
      </span>
      <span class="float-right">
        <p style="font-size: 30px;">{{ totalAmount | currency: "USD":true }}</p>
      </span>
    </span>
  </div>

</div>
<div *ngIf = '!data.Modifiers.Deals'>
<div class="container-fluid" *ngIf="data.Modifiers.Meat">
  <mat-expansion-panel
    class="mt-1"
    [expanded]="step === 0"
    (opened)="setStep(0)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Meat
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list
      #meatItem
      (selectionChange)="onSelection($event, meatItem.selectedOptions)"
    >
      <mat-list-option
        [checkboxPosition]="before"
        [selected]="meat.Default"
        *ngFor="let meat of data.Modifiers.Meat; let i = index"
        [value]="meat"
      >
        <span>
          <span class="float-left">
            <img matListAvatar [src]="meat.Image" *ngIf="meat.Image" />
            {{ meat.Item }}
          </span>
          <span class="float-right mt-2">
            {{ meat.Price | currency: "USD":true }}
          </span>
          <mat-divider></mat-divider>
        </span>
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</div>

<div class="container-fluid" *ngIf="data.Modifiers.Toppings">
  <mat-expansion-panel
    class="mt-1"
    [expanded]="step === 1"
    (opened)="setStep(1)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Toppings
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list
      #topping
      (selectionChange)="onSelection($event, topping.selectedOptions)"
    >
      <mat-list-option
        [checkboxPosition]="before"
        [selected]="topping.Default"
        *ngFor="let topping of data.Modifiers.Toppings"
        [value]="topping"
      >
        <span>
          <span class="float-left">
            <img matListAvatar [src]="topping.Image" *ngIf="topping.Image" />
            {{ topping.Item }}
            <mat-divider></mat-divider>
          </span>
          <span class="float-right mt-2">
            {{ topping.Price | currency: "USD":true }}
          </span>
        </span>
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</div>

<div class="container-fluid" *ngIf="data.Modifiers.Salsa">
  <mat-expansion-panel
    class="mt-1"
    [expanded]="step === 2"
    (opened)="setStep(2)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Salsa
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list
      #salsa
      (selectionChange)="onSelection($event, salsa.selectedOptions)"
    >
      <mat-list-option
        [checkboxPosition]="before"
        [selected]="salsa.Default"
        *ngFor="let salsa of data.Modifiers.Salsa"
        [value]="salsa"
      >
        <span>
          <span class="float-left">
            <img matListAvatar [src]="salsa.Image" *ngIf="salsa.Image" />
            {{ salsa.Item }}
            <mat-divider></mat-divider>
          </span>
          <span class="float-right mt-2">
            {{ salsa.Price | currency: "USD":true }}
          </span>
        </span>
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</div>

<div class="container-fluid" *ngIf="data.Modifiers.Extra">
  <mat-expansion-panel
    class="mt-1"
    [expanded]="step === 3"
    (opened)="setStep(3)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Extra
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list
      #extra
      (selectionChange)="onSelection($event, extra.selectedOptions)"
    >
      <mat-list-option
        [selected]="extra.Default"
        *ngFor="let extra of data.Modifiers.Extra"
        [value]="extra"
      >
        <img matListAvatar [src]="extra.Image" *ngIf="extra.Image" />
        {{ extra.Item }}
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</div>

<div class="card card-body mt-3 ">
  <span>
    <span class="float-left">
      <p style="font-size: 30px;">Total Amount :</p>
    </span>
    <span class="float-right">
      <p style="font-size: 30px;">{{ totalAmount | currency: "USD":true }}</p>
    </span>
  </span>
</div>

</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <button
        type="button"
        type="submit"
        (click)="addModifier()"
        class="btn btn-primary btn-lg raised mt-4 ml-4"
      >
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Modifier
      </button>
    </div>
  </div>
</div>
