
<div *ngIf = 'showSpinner'>
<mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div style = 'display : flex'>
<span  *ngIf = 'showSpinner' id = 'loadingText'> Status : </span> &nbsp;  <p id = 'loadingText'>   {{loadingText}}</p>
</div>
<div class="float-right close ">
  <i class="fa fa-times-circle" (click)="close()" aria-hidden="true"></i>
</div>
<div class="container" class = 'mt-4' style = '    margin: 0px;
height: 98%;
padding: 0px;
 '>

 <h4> Checkout </h4>
<div class="row" style = 'height: 100%;'>

<div class='col-md-4 card'  >
  <h4 class = 'text-center mt-4'>Item List : </h4>
  <mat-list class = 'mt-2' *ngFor = 'let item of data.order ; let i = index '>
      <mat-list-item> 
        <div class="row" style = 'width : 100% '>
          <div class="col-md-10 col-6 ">
            <p class = 'float-left'>
             {{item.Name}} X {{item.Quantity}}
              </p>
              
          </div>
          <div class="col-md-2 col-6 float-right">
              <p class = 'float-right'>
  
              {{item.Price * item.Quantity | currency: "USD":true}}
              </p>
          </div>
        </div>
      </mat-list-item>  
    
     
    </mat-list>

    <mat-divider></mat-divider>
    <mat-list-item> 
      <div class="row" style = 'width : 100% '>
        <div class="col-md-10 col-6 ">
          <p class = 'float-left tax'>
          Tax
            </p>
            
        </div>
        <div class="col-md-2 col-6 float-right">
            <p class = 'float-right tax-amount'>
              {{taxValue | currency: "USD":true}}

            </p>
         
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div class="container">

    
    <div class="row" style = 'width : 100% '>
      <div class="col-md-10 col-6 ">

          <div class="font-weight-bold">Total</div> 

      </div>
      <div class="col-md-2  col-6 float-right">
        
            <div class="font-weight-bold totalAmount float-right">  {{ data.total | currency: "USD":true }}</div> 
        
      </div>
    </div>
    </div>
</div>

<div class="col-md-8">

  <div class = 'text-center' >
    <button [disabled] = 'disabledButton'>
  <i class="fa fa-minus-circle icon"   (click) = 'subtractNumber()' aria-hidden="true"></i>
</button>
  <span class = 'splitAmount'>{{number}}</span>
    <button >
  <i class="fa fa-plus-circle icon " aria-hidden="true" (click) = 'addNumber()'></i>
  </button>
  </div>
  <mat-divider></mat-divider>

  <div class="container mt-5">
<div *ngFor = 'let i of index' class="row mt-3">
      <mat-divider></mat-divider>

      <div class = 'col-md-4' >
          <select class="form-control" (change) = 'paymentChange($event)' >
              <option *ngFor = 'let payment of paymentOption'>{{payment}}</option>
              
            </select>
      </div>
      <div class = 'col-md-4' >
          <input  type="text" class = 'form-control ' placeholder="Test Price" [ngModel]="splitRow[0].total | currency: 'USD':true"  
         disabled />
      </div>
      <div class = 'col-md-4'>  
      
          <button class = 'btn btn-success chargeButton' [disabled] = 'disable' (click) = 'charge()'><span *ngIf = 'showSpinner'>Please Wait... </span>
            <span *ngIf = '!showSpinner'>Charge</span> </button>
          </div>
    </div>

  </div>


</div>

</div>
</div>
