<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12  mt-5">
        <h2>Thank you for your Order !  :)</h2>

        <p> Thank you. Your order has been received.</p> 

      </div>
     
      <div class="card bg-light">
          <div class="card-body" *ngFor = 'let order of  orderArray'>

            <p> Order Number : <strong> {{order.orderNumber}} </strong></p>
            <mat-divider> </mat-divider>
            <p> Date : <strong> {{date}} </strong></p>
            <mat-divider> </mat-divider>

            <p> Total : <strong> {{order.total| currency:'USD':true}} </strong></p>
            <mat-divider> </mat-divider>

            <p> Payment Method : <strong> Direct Bank Transfer </strong></p>
            <mat-divider> </mat-divider>
          </div>
      </div>
    </div>
  </div>
</body>
</html>