<div (window:resize)="onResize($event)">

<div class="card" *ngIf = '!isMobile'>
  <div class="card-body">
     <h3> Order Summary</h3>
    <!-- Shopping Cart table -->
    <div class="table-responsive-sm">

      <table class="table product-table">

        <!-- Table head -->
        <thead class="mdb-color lighten-5">
          <tr>
            <th class="font-weight-bold">
              <strong>Product</strong>
            </th>
         
            <th></th>
            <th class="font-weight-bold">
              <strong>Price</strong>
            </th>
            <th class="font-weight-bold">
              <strong>QTY</strong>
            </th>
            <th class="font-weight-bold">
              <strong>Amount</strong>
            </th>
            <th class="font-weight-bold">
                <strong>Action</strong>
              </th>
            <th></th>
          </tr>
        </thead>
        <!-- /.Table head -->

        <!-- Table body -->
        <tbody>

          <!-- First row -->
          <tr *ngFor="let item of ticketModifier" >
            <td>
              <h5>
                <strong>{{item.Name}}</strong>
                <div class="row mt-2">
                  <span class = 'col-1 ml-1 mt-2' *ngFor = 'let modifier of item.selectedModifier'>
                    <img [src] = 'modifier.Image'  [matTooltip]="modifier.Item"
                    style = 'width : 30px ; height : 30px'   />
                  </span>
                </div>
             
              </h5>
            </td>
            <td></td>
            <td>  
                <span>
                             
              {{item.Price |currency:'USD':true}}
                </span>
            </td>
            <td>
              {{item.Quantity}}
            </td>
            <td class="font-weight-bold">
              <strong>{{(item.Price*item.Quantity) | number| currency:'USD':true}}</strong>
            </td>
            <td>
                <i class="fa fa-plus-circle"  (click)="addItem(item)" style = 'color : #458911 ; cursor : pointer;'  aria-hidden="true"></i>&nbsp;&nbsp;
                <i class="fa fa-minus-circle" (click)="subtractOne(item)" style = 'color : #c92a37 ; cursor : pointer;'  aria-hidden="true"></i>&nbsp;&nbsp;
                <i class="fa fa-trash" aria-hidden="true"  (click)="removeItem(item)" style = 'color : #35559e ; cursor : pointer;'></i>
            </td>
          </tr>

          <tr>
            <td colspan="3"></td>
            <td>
              <h4 class="mt-2">
                <strong>Total</strong>
              </h4>
            </td>
            <td class="text-right">
              <h4 class="mt-2">
                <strong> {{cartTotal | currency:'USD':true}}</strong>
              </h4>
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-rounded" (click) = 'setOrderNumber()' [disabled]='disabledButton'  style = 'width : 106%'>Checkout
                <i class="fas fa-angle-right right" ></i>
              </button>
            </td>
          </tr>
          <!-- Fourth row -->

        </tbody>
        <!-- /.Table body -->

      </table>

    </div>

  </div>

</div>

<div *ngIf = 'isMobile'>
    <mat-list role="list" *ngFor="let item of ticketModifier ; let i = index">
        <mat-list-item role="listitem">
              <div class="container-fluid">
                  <div class="row p-2"    style = 'width: 100%;'>
                      <div class="col-9" style = 'padding-left : 10px '>
                         <strong>{{i+1}} : {{item.Name}}</strong><br/>
                          <span class = 'ml-1 mt-3' *ngFor = 'let modifier of item.selectedModifier'>
                              <img [src] = 'modifier.Image'  [matTooltip]="modifier.Item"
                              style = 'width : 30px ; height : 30px' class = 'mt-2'  />
                            </span>
                      </div>
                      <div class="col-3">
                        <strong> Action </strong><br/>
                        <i class="fa fa-plus-circle"  (click)="addItem(item)" style = 'color : #458911 ; cursor : pointer;'  aria-hidden="true"></i>&nbsp;&nbsp;
                        <i class="fa fa-minus-circle" (click)="subtractOne(item)" style = 'color : #c92a37 ; cursor : pointer;'  aria-hidden="true"></i>&nbsp;&nbsp;
                        <i class="fa fa-trash" aria-hidden="true"  (click)="removeItem(item)" style = 'color : #35559e ; cursor : pointer;'></i>
                      </div>
                    </div>
                    <div class="row p-2"    style = 'width: 100%;'>
                        <div class="col-4" style = 'padding-left : 10px '>
                           <strong >Price</strong><br/>
                           {{item.Price |currency:'USD':true}}
          
                        </div>
                        <div class="col-4">
                          <strong> Quantity </strong><br/>
                          {{item.Quantity}}
          
                        </div>
                        <div class="col-4">
                            <strong> Amount </strong><br/>
                            <strong>{{(item.Price*item.Quantity) | number| currency:'USD':true}}</strong>
                          </div>
                      </div>
            
            
                  </div>
         
           
        
                 
        </mat-list-item>
        <mat-divider></mat-divider>
        
      
      </mat-list>
      <div class="container"*ngIf = 'ticketModifier?.length !==0 ' >
          <div class="row">
         <div class="col-6">
              <h5 class = 'mt-3'>
                 <strong style = 'padding : 20px'> Total : </strong>
                 <strong> {{cartTotal | currency:'USD':true}}</strong>
             </h5>
            </div>

             <div class = "col-6">
             <button type="button" class="btn btn-primary btn-rounded" (click) = 'setOrderNumber()' [disabled]='disabledButton'  style = 'width : 80% ; padding : 10px '>Checkout
                 <i class="fas fa-angle-right right" ></i>
               </button> 
               </div>
               </div>
         
          </div>
        </div>
</div>
